.banner{
	background: url(/images/banner.jpg);
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	-webkit-background-size: cover;
	background-size: cover;
	color: #B31C1C;
	text-shadow: 2px 2px #571F1F;
}

#organization, #sponsors{
	margin: 20px;
}

h2, #mainTabs a{
	color: #B31C1C;
}